{{range .Characters}}define {{.}} = Character("{{.}}")
{{end}}
{{range .Labels}}label {{ .Label}}:{{range .Scenes}}
{{if .Scene}}  scene {{.Scene}}{{end}}
{{range .Commands}}  {{build .}}
{{end}}{{end}}
{{end}}