{{range .Characters}}define {{.}} = Character("{{.}}")
{{end}}
label start:
{{range .Scenes}}	scene {{.Scene}}{{range .Dialogues}}
{{if .Character}}	{{.Character}} "{{.Dialogue}}"{{end}}{{end}}
{{end}}